{% for song in tracks %}
        <div class="card" data-id="{{ song.id }}"  data-type="track">
            <img src="{{ song.image.url }}" alt="song">
            <div class="play">
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="hhtp://www.w3.org/2000/svg">
                    <path d="M5 20V4L19 12L5 20Z" stroke="#000000" fill="#000"stroke-width="1.5" stroke-linejoin="round"/>
                </svg> 
            </div>
            <h2>{{ song.name }}</h2>
            <p>Song</p>
        </div>
{% endfor %} 