{% extends "spotify/layout.html" %}
{% load static %}
{% block body %}
<div class="artist-detail">
    <img src="{{ track.image.url }}" alt="{{ track.name }}">
    <div class="artist-info">
        <h1>{{ track.name }}</h1>
        
        {% with track.artists.all|first as first_artist %}
    {% if first_artist %}
        <p>{{ first_artist.name }}</p>
    {% else %}
        <p>No artist found</p>
    {% endif %}
    {% endwith %}

    </div>
</div>
<div class="artist-tracks">
    <h2>Tracks</h2>
    <ol>
       
            <li class="track" data-url="{{ track.audio_file.url }}">
                <button onclick="playTrack(this, '{{ track.audio_file.url }}')" class="play-button">
                    <i class="fas fa-play fa-fw"></i>
                </button>
                <img src="{{ track.image.url }}" alt="{{ track.name }}">
                <span>{{ track.name }}</span>
            </li>
       
    </ol>
</div>
<div id="bottom-player" class="bottom-player">
    <div class="track-info">
        <img id="bottom-player-image" src="" alt="track image">
        <div>
            <span id="bottom-player-title">Track Name</span>
            <span id="bottom-player-artist">Artist Name</span>
        </div>
    </div>
    <div class="controls">
        <button onclick="prevTrack()"><i class="fas fa-backward fa-fw"></i></button>
        <button onclick="togglePlayPause()" id="play-pause-button"><i class="fas fa-play fa-fw"></i></button>
        <button onclick="nextTrack()"><i class="fas fa-forward fa-fw"></i></button>
    </div>
    <div class="track-duration">
        <span id="current-time">0:00</span>
        <input type="range" id="seek-bar" value="0">
        <span id="total-duration">0:00</span>
    </div>
</div>

<audio id="audio-player"></audio>
{% endblock %}

{% block script %}
<script src="{% static 'spotify/js/player.js' %}"></script>
<style>
    .artist-detail {
        display: flex;
        align-items: center;
        padding-top: 100px;
        margin-bottom: 20px;
        
        background: linear-gradient(to bottom, rgb(40, 3, 105), rgba(255, 255, 255, 0));
        
    }
    .artist-info{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .artist-detail img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin-right: 20px;
    margin-left: 15px; /* Add margin to separate the image from details */
    }
    .artist-info h1{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .artist-info p{
        font-size: 16px;
        margin: 5px 0;
    }
    .artist-tracks{
        margin-left: 30px;
    }

    .artist-tracks h2 {
        font-size: 20px;
        margin: 10px 0;
    }

    .artist-tracks ul {
        list-style: none;
        padding: 0;
    }

    .artist-tracks li {
        display: flex;
        align-items: center;
        margin: 10px 0;
    }

    .artist-tracks li img {
        width: 40px;
        height: 40px;
        border-radius: 10%;
        margin-right: 10px;
        margin-left: 10px;
    }

    .artist-tracks li span {
        font-size: 16px;
        margin-right: 10px;
    }

        .artist-tracks li button {
    background: none;
    border: none;
    padding: 0;
    margin-left: 10px;
}

    
    
    .artist-tracks li button i{
        
        color: gray;
        
    }

    .artist-tracks li.active {
    background-color: #f0f0f0; /* Change background color to indicate active track */
}

.artist-tracks li.active button i {
    color: blue; /* Change play icon color to indicate active track */
}

.bottom-player {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #282828;
        color: white;
        display: none;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
       
        transition: opacity 0.3s;
    }

    .track-info {
        display: flex;
        align-items: center;
    }

    .track-info img {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }

    .controls {
        display: flex;
        align-items: center;
    }

    .controls button {
        background: none;
        border: none;
        color: white;
        font-size: 18px;
        margin: 0 10px;
        cursor: pointer;
    }

    .track-duration {
        display: flex;
        align-items: center;
        margin-right: 15px;
    }

    .track-duration span {
        margin: 0 5px;
    }

    #seek-bar {
        width: 200px;
    }

    .hidden {
        display: none;
    }

</style>
{% endblock %}
